.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: auto 0 auto 64px;
  z-index: 9;
}

.header__subtitle {
  width: 388px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 8;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 7;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 6;
  top: 64px;
  right: 0;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 64px;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  display: inline-block;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  display: inline-block;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__paragraph:first-child,
.two-columns__paragraph:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
  top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.table__text_bank {
  margin-top: 20px;
}

.feynman {
  background-color: #f2f2f2;
  width: 100%;
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  margin: 100px auto 0 auto;
  position: relative;
}

.feynman__content {
  display: flex;
  width: 100%;
  position: relative;
}

.feynman__subtitle {
  width: 400px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  margin: 70px auto 0;
  position: absolute;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 10;
  right: 48px;
  margin-top: 70px;
  position: absolute;
}

.feynman__img {
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.table_theme_dark {
  margin: auto;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  padding-top: 90px;
  width: 60%;
  color: white;
  z-index: 3;
  position: relative;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin-top: 20px;
  color: white;
  z-index: 3;
  position: relative;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
  z-index: 3;
  position: relative;
}

.table__text_theme_dark {
  margin-top: 20px;
  color: white;
  z-index: 3;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 2;
}

.footer {
  width: 100%;
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 250px;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  width: 50%;
  position: relative;
}

.logo_place_footer {
  z-index: 10;
  top: 20px;
  left: 64px;
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content {
  width: 50%;
  display: flex;
}

.footer__column_info {
  margin: auto;
  height: 100%;
}

.footer__column-links {
  font-size: 30px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-heading {
  color: white;
  margin: 0;
  font-size: 30px;
  line-height: 18px;
  font-weight: 600;
}

.footer__column-sublink {
  display: flex;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__link {
  display: flex;
  color: whitesmoke;
}
