.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;



}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  background-color: #f2f2f2;
  position: relative;
  display: flex;

}
.header_title{
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;

  margin: auto 0 auto 64px;

  z-index: 9;


}
.header_subtitle{
  width: 388px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 8;

}
.header_main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 7;
  bottom: 0;
  right: 0;
}
.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 6;
  top: 64px;
  right: 0;

}

.logo{

}
.logo_place_header{
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 64px;

}

.description{
  margin-top: 100px;
  margin-bottom: 100px;
}
.two-columns{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}
.two-columns_brief{
  display: inline-block;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.two-columns_main-text{
  display: inline-block;
  width: 80%;
  min-width: 784px;
}
.two-columns_paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}
.two-columns_paragraph:first-child,.two_columns_paragraph:last-child{
  margin-top: 0;
  margin-bottom: 0;
}
.two-columns_span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}


.digits{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.table_title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
}
.table_subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
  top: 20px;
}
.table{
  width:1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table_cell{
  width: 250px;
  margin-top: 60px;
}
.table_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.table_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}
.table-text_bank{
  margin-top: 20px;
}

.feynman{
  background-color: #f2f2f2;
  width: 100%;
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
}
.feynman_title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  margin: 100px auto 0 auto;
  position: relative;
}
.feynman_content{
  display: flex;
  width: 100%;
  position: relative;
}
.feynman_subtitle{
  width: 400px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  margin: 70px auto 0;
  position: absolute;
}
.feynman_link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 10;
  right: 48px;
  margin-top: 70px;
  position: absolute;
}
.feynman_img{
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
}


.kaufman{


  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.table_theme_black{
  margin: auto;
  padding-bottom: 90px;

}
.table_title_theme_black{
  padding-top: 90px;
  width: 60%;
  color: white;
  z-index: 3;
  position: relative;

}
.table_subtitle_theme_black{
  width: 60%;
  margin-top: 20px;
  color: white;
  z-index: 3;
  position: relative;

}
.table_cell_theme_black{
  margin-top: 80px;
  width: 200px;
}
.table_heading_theme_black{
  color: white;
  z-index: 3;
  position: relative;

}
.table_text_theme_black{
  margin-top: 20px;
  color: white;
  z-index: 3;
  position: relative;

}
.kaufman__image{
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 2;
}

.footer{
  width: 100%;
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;

}
.footer_columns{
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 250px;
}
.footer_column_contnet_copyright{
  width: 50%;
  position: relative;
}
.logo_place_footer{
  z-index: 10;
  top: 20px;
  left: 64px;
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_footer.svg);
}
.footer_author{
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer_column_contnet{
  width: 50%;
  display: flex;
}
.footer_column_info{
  margin: auto;
  height: 100%;
}
.footer_column-links_sub{
  color: white;
  margin-top: 30px;
  line-height: 18px;
  font-size: normal;
}
.footer_column-heading{
  color: white;
  margin: 0;
  font-size: 30px;
  line-height: 18px;
  font-weight: 600;
}
.footer_column-links{
  font-size: 30px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer_column_social{
  right: 0;
}
.footer_column-sublink_content{
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer_column-sublink{
  display: flex;
}
.footer_column-link{
  display: flex;
}
.footer_column-link_p{
  color: whitesmoke;
}


